.p-toast-message-success {
    background: var(--p-green-700) !important;
    color: var(--p-gray-300) !important;
}

.p-toast-message-error {
    background: var(--p-red-800) !important;
    color: var(--p-gray-300) !important;
}

.p-toast-message-content {
    align-items: center !important;
}

.p-toast-close-button {
    top: 4px;
}